@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    margin: 30px 0px 0px;
    padding: 0;
    background-color: #0a0a0a;
    /* height: 2000px; */
}

ul{
     list-style: none; 
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center;
    align-items: center; 
}


ul li{
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: white;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: inherit;
}

ul li:nth-child(1){
    text-decoration: underline;
    text-decoration-thickness: 3px ;
    text-decoration-color: #F5F0CD ;
}

ul li:nth-child(2), 
ul li:nth-child(3), 
ul li:nth-child(4) {
    color: gray;
}


nav{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: rgba(10, 10, 10, 0.3);
    backdrop-filter: blur(5px);
    position: sticky;
    height: 60px;
    
}

.bi-github{
    margin-left: 400px;
    color: white;
    font-size: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.bi-github:hover{
    box-shadow: 0px 0px 40px white;
}

.name{
    margin-right: 300px;
    color: #F5F0CD;
    font-weight: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-shadow: 0px 0px 10px #F5F0CD;
}

.content{
    /* border: 1px solid white; */
    margin-top: 0px;
    height: 553px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.gambar{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 1px solid wheat;
    display: flex;
    overflow: hidden;
    box-shadow: 0px 0px 50px #F5F0CD;
    margin-bottom: 100px;
    animation: animasiGambar 0.5s ease-in-out;
}

@keyframes animasiGambar{
0%{opacity: 0;}
20%{transform: translate(200px);
    opacity: 0;}
99%{opacity: 1;}
100%{ transform: translate(0px);}}

@keyframes welcome{
0%{opacity: 0;}
20%{transform: translate(200px);
    opacity: 0;}
99%{opacity: 1;}
100%{ transform: translate(0px);}
}

@keyframes name-role{
    0%{
        opacity: 0;
    }
    20%{
        opacity: 0;
        transform: translateY(10px);
    }
    40%{
        opacity: 0;
    }
    99%{
        opacity: 1;
    }
    100%{
        transform: translateY(0px);
    }
}

img{
    object-fit: cover;
}

.self-name, .role,
.welcome{
    color: white;
}
.helo{
    color: #FFE893 ;
    font-size: 15px;
}

.self-name{
    font-weight: bolder;
    font-size: 30px;
}



.role::after{
    content: "|";
    color: white;
}

.role{
    font-size: 20px;
}


.welcome{
    font-size: 13px;
    padding-top: 0px;
    animation: welcome 0.5s ease-in-out;
}

.self-name, .role{
    animation: name-role 0.5s ease-in-out;
}

.self-name, .role,
.welcome, .helo{
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* border: 1px solid white; */
    line-height: 0px;
}

.text{
    margin-right: 100px;
    margin-bottom: 100px;
}


